body {
    margin: 0;
    background-image: url("/animaciones/imagenes/espacio4.jpg");
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

#fondo {
    background-image: url("/animaciones/imagenes/Background.png");
    height: 100vh; 
    width: 100vw; 
    background-size: cover; 
    background-position: center;
}
#nave1{
    position: relative;
    width: 2vw; 
    top: 20vh;
    left: 90vh;
}
#nave2{
    position: relative;
    width: 2vw; 
    top: 20vh;
    left: 95vh;
}

@keyframes vuelo {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-120vw); 
    }
}