*{
    font-size: 20px;
    font-family: 'Ruge_Boogie';
}
@font-face {
    font-family: 'Ruge_Boogie';
    src: url('/style/RugeBoogie-Regular.ttf') format('truetype');
}
body{
    margin: 0;
    background-color: darkslateblue;
    color: white;
}
header{
    margin: 0;
    background-color:black; 
    height: 10vh;
}
nav{
    margin:0;
    background-color:goldenrod;
    height: 5vh;
}

section{
    margin: 0;
    background-color: orange;
    height: 70vh;
    width: 80%;
    float: left;
}
.articulo1{
    margin: 0;
    background-color: green;
    height: 67vh;
    width: 50%;
    float: left;
}
.articulo2{
    margin: 0;
    background-color: darkmagenta;
    height: 67vh;
    width: 50%;
    float: left;
}
aside{
    margin: 0;
    background-color: grey; 
    height: 70vh;
    width: 20%;
    float: left;
}
footer{
    margin: 0;
    background-color:rgb(103, 36, 12);
    height: 15vh;
    clear: both;
}
