body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#casa {
    background-image: url("img/fondo.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative; /* Para ubicar los elementos internos */
}

#luna {
    position: absolute;
    height: 15vh;
    left: 48%;
    top: 30vh;
    transition: transform 0.3s ease;
    transform: translateX(-50%);
}

#marcoizq {
    position: absolute;
    height: 100vh;
    left: 0;
}

#marcoder {
    position: absolute;
    height: 100vh;
    right: 0;
}

#nombrei {
    position: absolute;
    top: 5vh;
    left: 2vw;
    height: 80vh;
}

#nombred {
    position: absolute;
    top: 5vh;
    right: 2vw;
    height: 80vh;
}
#fantasma{
    position: absolute;
    height:43px;
    left: 25%;
    top: 78.6vh;
}
#puerta{    
    position: absolute;
    height: 15vh;
    left: 46.5vh;
    top: 71.6vh;
    transition: transform 0.3s ease;
}
#ojoizq{
    position: absolute;
    height: 2vh;
    left: 33.1vh;
    top: 87vh;
    transition: transform 3s ease;
}
#ojomed{
    position: absolute;
    height: 3vh;
    left: 27%;
    top: 92svh;
    transition: transform 2s ease;
}
#ojoder{
    position: absolute;
    height: 4vh;
    left: 82%;
    top: 85.3vh;
    transition: transform 3s ease;
}
#murc1,#murc2,#murc3,#murc4,#murc5,#murc6,#murc7{
    position: absolute;
    height: 23px;
}
#murc1{
    left: 28%;
    top: 5.6vh;
}
#murc2{
    left: 35%;
    top: 9.6vh;
}
#murc3{
    left: 45%;
    top: 6.6vh;
}
#murc4{
    left: 47%;
    top: 24.6vh;
}
#murc5{
    left: 47%;
    top: 55.6vh;
}
#murc6{
    left: 40%;
    top:  55.6vh;
}
#murc7{
    left: 40%;
    top: 6.5vh;
}

/* Animación de rotación luna */
#luna:hover {
    transform: translateX(-50%) rotate(30deg);
}

body:hover #ojoizq{
 
    transform: translate(2px, 5px);
    height: 2.2vh; 
}

body:hover #ojomed{

    transform: translate(-3px, -2px);
}

body:hover #ojoder{
    transform: translate(7px, 7px);
}
#puerta:hover{
    opacity: 0;
}
